requests
langchain_community
pypdf2
sentence-transformers
chromadb
langchain-huggingface
langchain-chroma
langchain_core
langchain_google_genai
fastapi
uvicorn
google-cloud-aiplatform
google-generativeai
stream-chat
tavily-python
langchain-tavily
lang
flask
flask_cors
Werkzeug
